<section class="section section-blue js-section" data-section-name="section1">
<div class="section-content">
<div class="about-main">
  <h2>What is BookSalon？</h2>
  <p>
    BookSalonは読者と読者を繋げるためのwebサービスです
  </p>
</div>
</div>
</section>

<section class="section section-blue js-section" data-section-name="section2">
<div class="section-content">
    <h2>section 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor reprehenderit, labore nostrum hic. Natus hic corporis, delectus vero voluptatem maxime voluptate tempora expedita quo iure atque vitae deserunt culpa quibusdam!</p>
  </div>
</section>
