<section class="section section-blue js-section" data-section-name="section1">
<div class="section-content">
<div class="about-main">
  <h2>What is BookSalon？</h2>
  <p>
    BookSalon is a web service for connecting readers and readers.
  </p>
  <p>
  	Let's post a little impression of the book you finished reading.
  </p>
</div>
</div>
