<section class="section section-blue js-section" data-section-name="section1">
<div class="section-content">
<div class="about-main">
  <h2>What is BookSalon？</h2>
  <p>
    BookSalonは読者と読者を繋げるためのwebサービスです。
  </p>
  <p>
  	あなたが読み終えた本のちょっとした感想を呟いてみましょう。
  </p>
</div>
</div>
